body {
    display: flex;
    flex-direction: column;
}

.first-panel-content,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 860px;
    padding: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    font-size: 18px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

.about-section {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 20px;
    margin-bottom: 100px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    color: #E5E7EB;
    margin: 8px;
    padding: 8px 22px;
    border-radius: 8px;
    font-size: 18px;
}

.about-dessert-image {
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 500px;
    margin-left: 100px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.top-picks-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 100px;
}

.top-picks-dessert,
.dessert-image {
    max-width: 200px;
    border-radius: 8px;
}

.dessert-text {
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin-bottom: 100px;
    background-color: #E5E7EB;
}

.quote-box {
    max-width: 55%;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.speaker {
    text-align: end;
    font-size: 25px;
    font-weight: bold;
}

.last-section {
    background-color: #3882F6;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px 310px;
}

.sign-up-section {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.bolded-sign-up {
    font-size: 22px;
    font-weight: bold;
}

.sign-up-button {
    display: flex;
    align-self: center;
}

.footer {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: #E5E7EB;
}